@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
    font-family: 'Segoe UI', sans-serif !important;
    scroll-behavior: smooth;
}

.ant-layout{
    background-color: white;
}

:where(.css-dev-only-do-not-override-qnu6hi).ant-layout{
  background-color: #f5f5f5 !important;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none !important;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .hide-scrollba {
    -ms-overflow-style: none !important;  /* IE and Edge */
    scrollbar-width: none !important;  /* Firefox */
  }